<%= @list.title %>
<% @list.tasks.each do |task| %>
  <p><%= task.title %> </p>
  <p><%= task.description %></p>
  <p><%= task.due_date %> </p>
  <p><%= task.status %> </p>
  <p><%= link_to "Edit", edit_task_path(task_id: task.id) %> <%= link_to "Delete", task_path(task_id: task.id), method: :delete %></p> 
<% end %>
<%= link_to "Add Task", new_task_path(@list) %>
<%= link_to "All Lists", user_path(current_user) %>
