<%= @list.title %>
<% @list.tasks.each do |task| %>
  <p><%= task.title %> </p>
  <p><%= task.due_date %> </p>
  <p><%= task.status %> </p>
  <p><%= link_to "Edit", edit_task_path(task: task.id) %> <%= link_to "Delete", destroy_task_path(task: task.id) %> </p>
<% end %>
<%= link_to "Add Task", new_task_path(@list) %>
<%= link_to "All Lists", user_path(current_user) %>
