<h3> Welcome, <%= current_user.username %></h3>
  <% @lists.each do |list| %>
    <div><%= link_to list.title, list_path(list) %>
      <%= link_to "Edit", edit_list_path(list) %>
      <%= link_to "Archive", archive_path(list) %>
    </div>
  <% end %>
<%= link_to "New List", new_list_path %>
<%= link_to "Show Archived", archived_path %>
